.navbar__cart__size{
   margin: auto auto;
   position: absolute;
   background-color: white;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   color: #4C241C;
   font-weight: 700;
   text-align: center;
   font-size: small;
}