@import "./abstracts/variables";
@import "./abstracts/mixins";
.products{
   padding: 5rem 0;
   // background: linear-gradient(180deg, rgba(72,98,62,0.12648809523809523) 0%, rgba(72,98,62,0.5466561624649859) 100%);
   background:  rgba(72, 98, 62, 0.068);

   @include respond (md-size){
         padding: 5rem 2rem;
      }
      
   @include respond (sm-size){
         padding: 3rem 1rem;
   }

}

.products a{
   color: inherit;
   text-decoration: none;
}

