@import "./abstracts/variables";
@import "./abstracts/mixins";

section{
   padding: 12rem 2rem 5rem;
}
// .MuiFormLabel-root.Mui-focused {
//   color: #2C3D2E;;
// }
// .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
//   border-color: red!important;
// }

.product{
   min-height: 90vh;

   &__info{
      display: flex;
      flex-direction: column;
      justify-content:space-between;

   @include respond (md-size){
      margin-top: 4rem;
   }
      

      &__header{
         display:flex;
         justify-content: space-between;
         align-items: center;
         height: auto;
         padding: 2rem;
         font-size: 3rem;

         // @include respond(md-size){
         //    font-size: 1.5rem;
         // }

         :last-child{
            align-self: flex-end;
         }

      }
      
      &__header > h1{
         font-weight: 400;
         margin-right: 4rem;
      }
      &__description {
         
      }

      &__description > h3{
         display: flex;
         align-items: center;
         padding: 2rem;
         height: auto;
         margin-top:3rem;
         background-color: $ternary-color;
         color: white;
         font-size: 2rem;
         font-weight: 400;
         
      }

      &__form{
         margin-top: 10rem;
         display: flex;
         justify-content: space-between;
         font-size: large;
         flex-wrap: wrap;

      }


   }

   &__img {
      object-fit: contain;
   }

  

   &__img > img {
      position: relative;
      display: block;
      margin: auto auto;
      width: 80% ;
      height: auto;
      box-shadow:5px 11px 25px -5px rgba(12, 12, 12, 0.349); 
   }

   &__other{

      margin-top: 3rem;

      & h2{
      display: block;
      width: 100%;
      background-color: $ternary-color;
      color: $color-white;
      font-size: 4rem;
      padding: 2rem;
      margin:1rem auto;
      text-align: center;
      font-weight: 400;


   }

   

      @include respond (md-size){
         font-size: 4rem;
      }
   }
 .carousel-item{
   padding:0 2.5rem;
 } 

 .item{
    padding:0 0.5rem;
 }
   // .carousel-arrow block carousel-prev {
   //    color: aliceblue;
   // }
   // &__slide{
   //    height: ;
   // }

}

